@model VendasWebMVC.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<h1>@ViewData["Title"]</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label class="control-label" asp-for="Vendedor.Codigo"></label>
                <input asp-for="Vendedor.Codigo" class="form-control" />
                <span asp-validation-for="Vendedor.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Vendedor.Nome"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
                <span asp-validation-for="Vendedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Vendedor.Email"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
                <span asp-validation-for="Vendedor.Email" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label class="control-label" asp-for="Vendedor.DataNascimento"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-control" />
                <span asp-validation-for="Vendedor.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Vendedor.SalarioBase"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
                <span asp-validation-for="Vendedor.SalarioBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Departamento</label>
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div> 

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}