@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Projeto exemplo desenvolvido em C#</p>
<p>Utilizando ASP .NET Core MVC 6 e Entity Framework</p>
