@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Leia sobre em <a href="https://docs.microsoft.com/aspnet/core">Desenvolvido com Web apps and ASP.NET Core</a>.</p>
</div>
